# Dependency directories
node_modules/

# Build outputs
dist/

# Environment variables
.env
.env.*
!.env.example

# Seeding scripts and data
seed.ts
final_seed.json

# IDEs
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log
